* {
  background-color:rgb(35,35,35);
  box-sizing: border-box;
  border: 0px solid white;
}

body{
  background-color:rgb(35,35,35);
  color:white;
  font-family: verdana;
}

div{
  background-color:rgb(35,35,35);
  display: inline-block;
  float: left;
  margin: 2.5% 0% 2.5% 0%;
  white-space: nowrap;
}

.borderless{
	border: 0px black solid;
}

.flex-container{
  display: inline-flex;
  align-items: center;
}

.column{
  flex-direction: column;
}

.row{
  flex-direction: row;
}

.left{
  justify-content: left;
}

input {
  display: inline-block;
  height: 25px;
  box-sizing: border-box;
  text-align: left;
}

input{
  display: inline-block;
  background-color: white;
  color: black;
  text-align: center;
  box-sizing: border-box;
}

form {
	margin: 0 auto;
  padding: 0px 0px;
  display: inline-block;
  border: 1px solid white;
}

select{
  display: inline-block;
  height: 25px;
  box-sizing: border-box;
}

label {
  box-sizing: border-box;
}

table {
	background-color:rgb(180,180,180);
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    border: 0px solid #ccc;
}

table th {
  border: 2px solid rgb(100,100,100);
  color: black;
  background-color: rgb(180,180,180);
}

table td {
  border: 2px solid rgb(100,100,100);
  color: black;
  background-color: rgb(180,180,180);
}

table tr {
  border: 2px solid rgb(100,100,100);
}
button {
  background-color: rgb(180,180,180);
  border: 2px solid rgb(100,100,100);
}

textarea {
	background-color:white;
	color: black;
}

select {
	background-color: white;
	color: black;
}

select option{
	background-color:white;
	color: black;
}
	